body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('hev abayy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.video-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
video {
    width: 100%;
    height: auto;
    display: block;
}
